:root{
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --accent-200:#ffffff;
    --text-100:#FFFFFF;
    --text-200:#777777;
    --bg-100:#000000;
    --bg-200:#161616;
    --bg-300:#2c2c2c; 
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: var(--bg-200);
    padding: 1rem;
    text-align: center;
}
main{
    flex-grow: 1;
    padding: 1rem;
}
footer{
    background-color: var(--bg-300);
    padding: 1rem;
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
}
.ad{
    background-color: var(--primary-300);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--bg-300);
}
.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    display: grid;
    place-items: center;
    display: none;
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--bg-300);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.modal input, .modal textarea, .add-button{
    background-color: var(--accent-100);
    border: none;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
    color: var(--accent-200);
}

.open{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2rem;
    border: none;
}